.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.footer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}

.footer-links li {
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
  text-decoration: none;
}

.footer-links a {
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  text-decoration-line: none;
}

.footer-links a:hover {
  color: rgb(197, 122, 122);
}

.contact-info {
  margin-top: 20px;
  font-size: 14px;
}

.contact-info li {
  margin-bottom: 10px;
  list-style: none;
  text-align: left;
}

.contact-info i {
  margin-right: 10px;
  font-size: 16px;
  color: #ccc;
}

.container {
  margin: 0 auto;
}

